<div class="page-header">
	<h3>Register for a new account</h3>
</div>
<form method="POST">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="form-group">
			<label for="email" class="control-label">Email</label>
			<input type="email" name="email" id="email" placeholder="Email" autofocus class="form-control">
		</div>
		<div class="form-group">
			<label for="nameFirst" class="control-label">First Name</label>
			<input type="nameFirst" name="nameFirst" id="nameFirst" placeholder="First Name" class="form-control">
		</div>
		<div class="form-group">
			<label for="nameLast" class="control-label">Last name</label>
			<input type="nameLast" name="nameLast" id="nameLast" placeholder="Last Name" class="form-control">
		</div>
		<div class="form-group">
			<label for="phoneNumber" class="control-label">Phone Number with Area Code</label>
			<input type="phoneNumber" name="phoneNumber" id="phoneNumber" placeholder="(XXX)-XXX-XXXX" class="form-control">
		</div>
		<div class="form-group">
			<label for="address" class="control-label">Home Address</label>
			<input type="address1" name="address1" id="address1" placeholder="Address 1" class="form-control">
			<input type="address2" name="address2" id="address2" placeholder="Address 2" class="form-control">
			<input type="city" name="city" id="city" placeholder="City" class="form-control">
		<input type="state" name="state" id="state" placeholder="State" class="form-control">
		<input type="zip" name="zip" id="zip" placeholder="Zip Code" class="form-control">

		</div>
		<div class="form-group">
			<label for="password" class="control-label">Password</label>
			<input type="password" name="password" id="password" placeholder="Password" class="form-control">
		</div>
		<div class="form-group">
			<label for="passwordConfirm" class="control-label">Confirm Password</label>
			<input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm password" class="form-control">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">
				Register	
			</button>
		</div>
	</div>
</div>
</form>
