<h1>Your Résumé</h1>

<script>
	function addExperience() {
		$('.work').each(function(index, element) {
			var work = {};
			work.name = $(element).find('#name').val();
			work.position = $(element).find('#position').val();
			work.tasks = $(element).find('#tasks').val();
			work.timePeriod = $(element).find('#timePeriod').val();
			console.log(work);
		});
	}
</script>
<div class="col-sm-8 col-sm-offset-2">
	<h3>Profile</h3>
	<textarea class="form-control" rows="3" placeholder="Enter a personal statement."></textarea>

	<h3>Work Experience</h3>
	{{#each resume.work}}
		<div class="well"><div class="form-group work">
			<h5>Company Name:</h5>
			<input class="form-control" id="name" type="text" value="{{this.name}}">

			<h5>Position:</h5>
			<input class="form-control" id="position" type="text" value="{{this.position}}">

			<h5>Tasks:</h5>
			<input class="form-control" id="tasks" type="text" value="{{this.tasks}}">

			<h5>Time Period:</h5>
			<input class="form-control" id="timePeriod" type="text" value="{{this.timePeriod}}">

		</div></div>
	{{/each}}
	<button class="btn btn-primary" onclick="addExperience()">
		Add Work Experience
	</button>
	
	<h3>Skills</h3>
	<textarea class="form-control" rows="3" placeholder="Enter skills here."></textarea>

	<h3>Education</h3>
	{{#each resume.education}}
		<div class="well"><div class="form-group education">
			<h5>Institution:</h5>
			<input class="form-control" type="text" placeholder="">

			<h5>Degree:</h5>
			<input class="form-control" type="text" placeholder="">

			<h5>Graduation Year:</h5>
			<input class="form-control" type="text" placeholder="">
		</div></div>
	{{/each}}
	<button class="btn btn-primary">Add Education</button>
	<hr />
	<button class="btn btn-primary" type="submit" class="btn">Submit</button>
</div>
