<h1>Resume Form</h1>

<div class="hero-unit">
<h3>Basic Information</h3>
<h5>Name: </h5>
<input type="text" placeholder="">

<h5>Address:</h5> 
<input type="text" placeholder="">

<h5>Phone Number:</h5>
<input type="text" placeholder="">

<h5>Email address:</h5>
<input type="text" placeholder="">
</div>

<h3>Profile</h3>
<textarea rows="3" placeholder="Enter summary here."></textarea>

<h3>Work Experience</h3>

<h5>Company Name:</h5>
<input type="text" placeholder="">

<h5>Position:</h5>
<input type="text" placeholder="">

<h5>Tasks:</h5>
<input type="text" placeholder="">

<h5>Time Period:</h5>
<input type="text" placeholder="">

<h5>Add Experience?</h5>

<h3>Skills</h3>
<textarea rows="3" placeholder="Enter additional skills here."></textarea>

<h3>Education</h3>

<h5>Institution:</h5>
<input type="text" placeholder="">

<h5>Degree:</h5>
<input type="text" placeholder="">

<h5>Graduation Year:</h5>
<input type="text" placeholder="">

<h5>Add Education?</h5>

<h3>Additional Information</h3>
<textarea rows="3" placeholder="Enter additional information here."></textarea>

<p><button type="submit" class="btn">Submit</button></p>


