<h1>Your Resume</h1>


<div class="col-sm-8 col-sm-offset-2">
	<h3>Profile</h3>
	<textarea class="form-control" rows="3" placeholder="Enter a personal statement."></textarea>

	<h3>Work Experience</h3>
	<div class="well"><div class="form-group">
		<h5>Company Name:</h5>
		<input class="form-control" type="text" placeholder="">

		<h5>Position:</h5>
		<input class="form-control" type="text" placeholder="">

		<h5>Tasks:</h5>
		<input class="form-control" type="text" placeholder="">

		<h5>Time Period:</h5>
		<input class="form-control" type="text" placeholder="">

	</div></div>
	<button class="btn btn-primary">Add Additional Experience</button>
	
	<h3>Skills</h3>
	<textarea class="form-control" rows="3" placeholder="Enter skills here."></textarea>

	<h3>Education</h3>
	<div class="well"><div class="form-group">
		<h5>Institution:</h5>
		<input class="form-control" type="text" placeholder="">

		<h5>Degree:</h5>
		<input class="form-control" type="text" placeholder="">

		<h5>Graduation Year:</h5>
		<input class="form-control" type="text" placeholder="">
	</div></div>
	<button class="btn btn-primary">Add Additional Education</button>
	<hr />
	<button class="btn btn-primary" type="submit" class="btn">Submit</button>
</div>
